<div layout="column" ng-controller="LayoutController as ctrl" ng-cloak class="container">
    <section layout="row" flex>
        <md-sidenav active-user="user" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <md-toolbar id="override-sidebar">
                <div layout="row" class="sideToolbar">
                    <md-button hide-gt-md class="md-icon-button" aria-label="close" ng-click="ctrl.closeSideNav()" style="margin-top: 12px;">
                        <md-icon md-svg-icon="/app/icons/close.svg"></md-icon>
                    </md-button>
                    <h1 class="md-toolbar-tools">Grade Master</h1>
                </div>
            </md-toolbar>
            <md-content class="sideContent" layout-padding layout="column">
                <md-button md-no-ink href="#!/dashboard" ng-click="ctrl.closeSideNav()" active-link="active" id="override-menubutton">
                    Dashboard
                </md-button>
                <md-button md-no-ink href="#!/groups" ng-click="ctrl.closeSideNav()" active-link="active" id="override-menubutton">
                    Groups
                </md-button>
                <md-button md-no-ink href="#!/grades" ng-click="ctrl.closeSideNav()" active-link="active" id="override-menubutton">
                    Grades
                </md-button>
                <md-button ng-show="isAdmin" md-no-ink href="#!/educations" ng-click="ctrl.closeSideNav()" active-link="active" id="override-menubutton">
                    Educations
                </md-button>
            </md-content>
        </md-sidenav>
        <md-content class="mainContent">
            <md-toolbar id="override-toolbar">
                <div class="md-toolbar-tools">
                    <md-button ng-click="ctrl.openSideNav()" hide-gt-md class="md-icon-button" aria-label="Menu">
                        <md-icon md-svg-icon="/app/icons/menu.svg"></md-icon>
                    </md-button>
                    <span flex></span>
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="ctrl.showNotifications($mdOpenMenu, $event)" aria-label="Notification">
                            <md-icon md-menu-origin md-svg-icon="/app/icons/notification.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="6">
                            <div ng-if="!ctrl.newNotifications.length">
                                <md-menu-item>
                                    <md-button>
                                        <md-icon md-svg-icon="/app/icons/notification.svg" md-menu-align-target></md-icon>
                                        You have no new notifications
                                    </md-button>
                                </md-menu-item>
                            </div>
                            <div ng-if="ctrl.newNotifications.length">
                                <md-menu-item>
                                    <md-button ng-click="ctrl.readAllNotifications()">
                                        <md-icon md-svg-icon="/app/icons/notification.svg" md-menu-align-target></md-icon>
                                        Mark all as read
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-repeat="noti in ctrl.newNotifications">
                                    <md-button ng-mouseover="ctrl.readNotification(noti)">
                                        <span ng-if="noti.seen">{{noti.message}}</span>
                                        <span ng-if="!noti.seen">
                                            <b>{{noti.message}}</b>
                                        </span>
                                        <a href="{{noti.link}}">{{noti.linkText}}</a>
                                    </md-button>
                                </md-menu-item>
                            </div>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="ctrl.showOldNotifications($mdOpenMenu, $event)" aria-label="Old Notification">
                            <md-icon md-menu-origin md-svg-icon="/app/icons/recent.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="6">
                            <div ng-if="!ctrl.oldNotifications.length">
                                <md-menu-item>
                                    <md-button>
                                        <md-icon md-svg-icon="/app/icons/recent.svg" md-menu-align-target></md-icon>
                                        You have no notification history
                                    </md-button>
                                </md-menu-item>
                            </div>
                            <div ng-if="ctrl.oldNotifications.length">
                                <md-menu-item>
                                    <md-button>
                                        <md-icon md-svg-icon="/app/icons/recent.svg" md-menu-align-target></md-icon>
                                        Notification history
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-repeat="noti in ctrl.oldNotifications">
                                    <md-button>
                                        {{noti.message}}
                                        <a href="{{noti.link}}">{{noti.linkText}}</a>
                                    </md-button>
                                </md-menu-item>
                            </div>
                        </md-menu-content>
                    </md-menu>
                    <md-button class="md-icon-button" ng-click="ctrl.logout()" aria-label="Profile">
                        <md-icon md-svg-icon="/app/icons/account.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <ui-view/>
        </md-content>
    </section>
</div>