<div layout="column" ng-controller="LayoutController" ng-cloak class="container">
    <section layout="row" flex>
        <md-sidenav active-user="user" class="md-sidenav-left" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <md-toolbar id="override-sidebar">
                <div layout="row" class="sideToolbar">
                    <md-button hide-gt-md class="md-icon-button" aria-label="close" ng-click="closeSideNav()"
                               style="margin-top: 12px;">
                        <md-icon md-svg-icon="/app/icons/close.svg"></md-icon>
                    </md-button>
                    <h1 class="md-toolbar-tools">Grade Master</h1>
                </div>
            </md-toolbar>
            <md-content class="sideContent" layout-padding layout="column">
                <md-button md-no-ink href="#!/home/dashboard" ng-click="closeSideNav()" active-link="active"
                           id="override-menubutton">
                    Dashboard
                </md-button>
                <md-button md-no-ink href="#!/home/groups" ng-click="closeSideNav()" active-link="active"
                           id="override-menubutton">
                    Groups
                </md-button>
                <md-button md-no-ink href="#!/home/grades" ng-click="closeSideNav()" active-link="active"
                           id="override-menubutton">
                    Grades
                </md-button>
                <md-button ng-show="isAdmin"
                           md-no-ink href="#!/home/educations" ng-click="closeSideNav()" active-link="active"
                           id="override-menubutton">
                    Educations
                </md-button>
            </md-content>
        </md-sidenav>
        <md-content class="mainContent">
            <md-toolbar id="override-toolbar">
                <div class="md-toolbar-tools">
                    <md-button ng-click="openSideNav()" hide-gt-md class="md-icon-button" aria-label="Menu">
                        <md-icon md-svg-icon="/app/icons/menu.svg"></md-icon>
                    </md-button>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Notification">
                        <md-icon md-svg-icon="/app/icons/notification.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Recent">
                        <md-icon md-svg-icon="/app/icons/recent.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="logout()" aria-label="Profile">
                        <md-icon md-svg-icon="/app/icons/account.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <ui-view/>
        </md-content>
    </section>
</div>
    