<body ng-app="gmApp" ng-controller="RegisterCtrl">
    <h1 class="md-display-2" style="text-align: center;">Grade Master</h1>
    <div flex-xs="" flex-gt-xs="50" style="margin: 0 auto;">
        <md-card>
            <md-toolbar id="override-login-toolbar">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Register</span>
                    </h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="RegisterForm">
                    <md-input-container class="md-block">
                        <label> Email</label>
                        <input type="email" name="email" ng-model="form.email" required />
                        <div ng-messages="RegisterForm.email.$error" role="alert" multiple="">
                            <div class="my-message" ng-message="required">You must supply a email.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label> Reference ID</label>
                        <input type="text" name="reference" ng-model="form.referenceId" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="form.password" required password-verify="{{form.confirmPassword}}" />
                        <div ng-messages="RegisterForm.password.$error" role="alert" multiple="">
                            <div class="my-message" ng-message="required">You must supply a password.</div>
                            <div class="my-message" ng-message="passwordVerify">No match</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Confirm Password</label>
                        <input type="password" name="confirmPassword" ng-model="form.confirmPassword" required password-verify="{{form.password}}" />
                        <div ng-messages="RegisterForm.confirmPassword.$error" role="alert" multiple="">
                            <div class="my-message" ng-message="required">You must supply a password.</div>
                            <div class="my-message" ng-message="passwordVerify">No match</div>
                            <div class="error">{{error}}</div>
                        </div>
                    </md-input-container>
                    <div layout="layout">
                        <md-button type="submit" class="md-raised md-primary pull-right formPage" ng-disabled="!RegisterForm.$valid" ng-click="register()"
                            id="override-register-button">&nbsp Register &nbsp</md-button>
                        <md-button class="pull-right formPage" ng-click="toLogin()" id="override-to-login-button">&nbsp I already have an account &nbsp</md-button>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>

</body>