body html {
    margin: 0 auto;
    height: 100%;
}
h1{
    text-align: center;
}
.container{
    height: 100%;
}
.mainContent{
    width: 100%;
    background: #EEF4F9;
}
.sideContent{
    background: #4E546C;
    color: #2DD1AC;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.mdIcon {
    margin-left: 10px;
}