/* CSS to override material colors/styling */
#override-toolbar{
    background: white;
    color: black;
}
#override-sidebar{
    background: #555C78;
    color: white;
}
#override-menubutton{
    text-transform: none;
    text-align: left;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
#override-login-toolbar{
    background: #555C78;
}
.md-button.md-raised.md-primary.formPage:not([disabled]) {
    position: right !important;
    color: #FFFFFF;
    background-color:#555C78;    
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #555C78;
}
.md-sidenav-left{
    background: #4E546C;
}