/* CSS to override material colors/styling */
#override-toolbar{
    background: white;
    color: black;
}
#override-sidebar{
    background: #555C78;
    color: white;
}
#override-menubutton{
    text-transform: none;
    text-align: left;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
#override-login-toolbar{
    background: #555C78;
    width: 100%;
}
.md-button.md-raised.md-primary.formPage:not([disabled]) {
    position: right !important;
    color: #FFFFFF;
    background-color:#555C78;    
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #555C78;
}
.md-sidenav-left{
    background: #4E546C;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #555C78;
}
#override-card-toolbar {
    background: white;
    color: black;
}
#override-fab {
    background-color: #555C78;
    position:absolute;
    bottom:0;
    right:0;
    margin-bottom: 30px;
    margin-right: 30px;
}
.contactChips md-content.autocomplete {
    z-index:25;
}
.modal{
    z-index: 20;  
}
.modal-backdrop{
    z-index: 10; 
}
.md-autocomplete-suggestions-container {
    width:50%;
}
md-checkbox.md-checked.override-checkbox .md-icon {
    background-color: #555C78;
}
md-select:not([disabled]):focus .md-select-value{
    border-bottom-color: #555C78;
}
md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder {
    color: #555C78; 
}
.mySelect md-option {
    color: #555C78 !important;
}
md-toast {
    width: 150px;
    top: 10px;
    left: 10px;
    right: 0;
}