<md-card>
        <md-card-header>
            <div class="md-display-1">
                Overview
            </div>
        </md-card-header>
        <md-card-content>
            <div ng-repeat="user in $ctrl.groupMembers">
                <p>{{user.name}}</p>
                <ul>
                    <li ng-repeat="grade in $ctrl.getGradesForUser(user)">
                        {{grade.toUser.name}}: {{grade.grade|number:1}}
                    </li>
                </ul>
            </div>
        </md-card-content>
    </md-card>