<md-card>
    <md-card-header>
        <div class="md-display-1">
            Grading
        </div>
    </md-card-header>
    <md-card-content>
        <div class="md-caption">
            Group grade
        </div>
        <div class="md-display-1">{{$ctrl.groupGrade}}</div>
        <grading-sliders students="$ctrl.students" group-grade="$ctrl.groupGrade"></grading-sliders>
    </md-card-content>
    <md-card-actions align="end">
        <md-progress-circular class="spinner" md-mode="indeterminate" ng-show="$ctrl.loading"></md-progress-circular>
        <md-button ng-click="$ctrl.save()" class="md-primary md-raised formPage">Save</md-button>
    </md-card-actions>
</md-card>