<md-card>
    <md-card-header>
        <md-card-title>
            <div class="md-display">
                Grading
            </div>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <div class="md-caption">
            Group grade
        </div>
        <div class="md-display-1">{{$ctrl.groupGrade}}</div>
        <grading-sliders students="$ctrl.students" group-grade="$ctrl.groupGrade"></grading-sliders>
    </md-card-content>
    <md-card-actions align="end">
        <md-button class="md-primary md-raised formPage">Save</md-button>
    </md-card-actions>
</md-card>