<div ng-init="init()">
<md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{$ctrl.name}}</span>
                <div layout="row" layout-align="left">
                    <span class="md-subhead" flex="">Status</span>
                    <span class="md-subhead" flex="">Group grade</span>
                    <span class="md-subhead" flex="">Your grade</span>
                </div>
                <div layout="row" layout-align="left">
                    <div ng-class="$ctrl.groupStatusClass" class="md-title" flex>
                        {{$ctrl.groupStatus}}
                    </div>
                    <div ng-class="$ctrl.getGradeClass($ctrl.group.groupGrade.grade)" class="md-title" flex>
                        {{$ctrl.group.groupGrade.grade}}
                    </div>
                    <div ng-class="$ctrl.getGradeClass($ctrl.finalGrade)" class="md-title" flex >
                        {{$ctrl.finalGrade}}
                    </div>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" class="relativeDiv">
                <div class="md-caption" ng-repeat="member in $ctrl.group.users">
                    <div ng-if="!$last">
                        {{member.name}}, &nbsp;
                    </div>
                    <div ng-if="$last">
                        {{member.name}}
                    </div>
                </div>
                <md-button ng-disabled="$ctrl.groupStatus !== 'OPEN'" ng-click="$ctrl.gradeGroupMembers()" class="groupGradeBtn">GRADE</md-button>
            </div>
        </md-card-content>
        <md-progress-linear md-mode="determinate" value="{{$ctrl.group.gradingProgress}}"></md-progress-linear>
</md-card>
</div>